<footer style="bottom: 0;position: relative;">
    <div class="container">
      <div class="copyright">
        Copyright © 2017 . 当前呈现版本 v1.0<br>
        <a href="http://www.miibeian.gov.cn/" rel="nofollow">正在备案...</a> &nbsp;
        <a  href="#" rel="nofollow">粤公网安备 33010602002000号</a>
        <span class="ml5">嗯呵吱吱吱版权所有</span>
      </div>
    </div>
</footer>
