<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>首页</title>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <script src="/jquery/dist/jquery.min.js"></script>
</head>
<body>

<% if(msg == "注册"){ %>
  <%include navigator.ejs%>
<%}else{%>
<%include navigator_logined.ejs%>
<%}%>
<div class="container">
    <div class="jumbotron">
        <div cla="container">
            <h1>Hello, world!</h1>
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/img/school.jpg" alt="...">
                <div class="caption">
                    <h3>c++</h3>
                    <p>C++是C语言的继承，它既可以进行C语言的过程化程序设计，又可以进行以抽象数据类型为特点的基于对象的程序设计，还可以进行以继承和多态为特点的面向对象的程序设计。C++擅长面向对象程序设计的同时，还可以进行基于过程的程序设计，因而C++就适应的问题规模而论，大小由之。</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/img/school.jpg" alt="...">
                <div class="caption">
                    <h3>java</h3>
                    <p>Java是一门面向对象编程语言，不仅吸收了C++语言的各种优点，还摒弃了C++里难以理解的多继承、指针等概念，因此Java语言具有功能强大和简单易用两个特征。Java语言作为静态面向对象编程语言的代表，极好地实现了面向对象理论，允许程序员以优雅的思维方式进行复杂的编程.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/img/school.jpg" alt="...">
                <div class="caption">
                    <h3>nodejs</h3>
                    <p>Node.js是一个Javascript运行环境(runtime)，发布于2009年5月，由Ryan Dahl开发，实质是对Chrome V8引擎进行了封装。Node.js对一些特殊用例进行优化，提供替代的API，使得V8在非浏览器环境下运行得更好。</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<%include footer.ejs%>
</body>
<script src="../node_modules/jquery.pin/jquery.pin.js"></script>
<script>
//    $(".pinned").pin()
</script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</html>
<!--<script>-->
    <!--if($("#name").html().trim() === "登录"){-->
        <!--$("#name").attr("href","/classShuoShuo/login")[0].dataset["toggle"] = "";-->
    <!--}-->
    <!--if($("#msg").html().trim() === "注册"){-->
        <!--$("#msg").attr("href","/classShuoShuo/regist");-->
    <!--}-->
    <!--if($("#name").html().trim() !== "登录"){-->
        <!--$("#name").after(`<ul class="dropdown-menu">-->
    <!--<li><a href="/classShuoShuo/homePage" id="homePage">我的主页</a></li>-->
    <!--<li role="separator" class="divider"></li>-->
    <!--<li><a href="/classShuoShuo/pubSS">发表说说</a></li>-->
    <!--<li role="separator" class="divider"></li>-->
    <!--<li><a href="/classShuoShuo/upLoad">上传作业</a></li>-->
    <!--<li role="separator" class="divider"></li>-->
    <!--<li><a href="/classShuoShuo/downLoad">下载资源</a></li>-->
    <!--<li role="separator" class="divider"></li>-->
    <!--<li><a href="/classShuoShuo/logout">退出登录</a></li>-->
  <!--</ul>`).append(`<span class="caret"></span>`)[0].dataset["toggle"] = "dropdown";-->
    <!--}-->

<!--</script>-->
<!--<li class="dropdown">-->
  <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">个人中心 <span class="caret"></span></a>-->
  <!--<ul class="dropdown-menu">-->
    <!--<li><a href="#">我的主页</a></li>-->
    <!--<li role="separator" class="divider"></li>-->
    <!--<li><a href="#">发表说说</a></li>-->
    <!--<li role="separator" class="divider"></li>-->
    <!--<li><a href="#">上传作业</a></li>-->
    <!--<li role="separator" class="divider"></li>-->
    <!--<li><a href="#">下载资源</a></li>-->
    <!--<li role="separator" class="divider"></li>-->
    <!--<li><a href="#">退出登录</a></li>-->
  <!--</ul>-->
<!--</li>-->